# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log